block content
  h2 Want to contact me?
  div 
    chose a button and be social:
    ul
      li Gihub
      li Linkedin
      li other
  div
    Write me something nice:
    div
      email form here

