extends layout

block content
  section.hero
      .container.media.my-roundedi.is-light
        figure.media-left
          img(class='rounded' src='/images/nagada.jpg')
        .media-content
          .content
            h1.title   naga.no
            p something nice
  .columns
    .column.notification.is-primary.my-rounded.media
      h2.media-left  About naga
      .media-content
        p.content bla naga
    .column.notification.is-primary.my-rounded.media
      h2.media-left  About me
      .media-content
        p.content bla me
    .column.notification.is-primary.my-rounded.media
      h2.media-left  About me
      .media-content
          p.content
            | bla
            |portfolio
