extends layout

block content
  section.hero.is-primary.my-rounded
      .container
        h1.title   naga.no
        img(class='rounded' src='/images/nagada.jpg')
  .columns
    .column.notification.is-primary.my-rounded.media
      h2.media-left  About naga
      .media-content
        p.content bla naga
    .column.notification.is-primary.my-rounded.media
      h2.media-left  About me
      .media-content
        p.content bla me
    .column.notification.is-primary.my-rounded.media
      h2.media-left  About me
      .media-content
          p.content
            | bla
            |portfolio
