extends layout

block content
  h1 PORTFOLIO
  .section.hero.is-fullheight.is-primary
    p.title  about

  div NAV in page
  section.section
    each repo in repos
      .container
        article.media.notification.is-primary.my-rounded
          figure.media-left
            img.rounded(src='' alt='found one')
          div.media-content
            div.content
              h2 #{repo.name}
              p #{repo.description}
              a(href=repo.html_url) code is on GitHub

  div  social
